<nz-layout class="layout">
  <nz-header >
    <div class="logo">
      <img class="logo" src="/assets/cohete.png" alt="Logo de la pagina">
    </div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item (click)="opcion = false"><span nz-icon nzType="home" nzTheme="outline"></span> Inicio</li>
      <li nz-menu-item (click)="opcion = true"><span nz-icon nzType="user-add" nzTheme="outline"></span> Agregar</li>
      <li nz-menu-item style="float: right" (click)="logout()"><span nz-icon nzType="poweroff" nzTheme="outline"></span> Cerrar Sesión</li>
    </ul>

  </nz-header>
  <nz-content style="padding: 20px">
    <div class="inner-content">
      <app-register *ngIf="opcion"></app-register>
      <app-content-menu *ngIf="!opcion"></app-content-menu>
    </div>
  </nz-content>
  <nz-footer>©2020 Implement By <a target="_blank" href="https://github.com/tonyuchiha1">TonyUchiha</a></nz-footer>
</nz-layout>

